/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* and here's my own stylings */

body {
    min-height: 100vh;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}

.image {
    min-width: 30vw;
}

.text {
    position: absolute; 
    top: 30vh;
    color: #FFFFFF;
    font-size: 58px;
    font-weight: 700;
    text-align: center;
    background-color: #1E1E1E;
    opacity: 70%;
    min-width: 30vw;
}

.image img {
    height: 100%;
    width: auto;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #141414;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 50px 10px;
}

h1 {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 500;
}

.products {
    display: flex;
    justify-content: space-between;
}

.products img {
    width: 190px;
    height: 130px;
}

p {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
}

form {
    background-color: #320064;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_contents {
    display: flex;
}

.form_half {
    width: fit-content;
    padding-right: 60px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
}

label {
    color: #EAD3F2;
    font-size: 12px;
}

input {
    background-color: #EAD3F2;
}

.form_contents input {
    border: 2px solid green;
    border-radius: 5px;
    height: 24px;
    width: 300px;
}

.option {
    display: flex;
    align-items: center;
    gap:5px;
    margin-top: 5px;
}

button {
    width: fit-content;
    padding: 5px 20px;
    color: #FFFFFF;
    background-color: #6315B2;
    border-width: 0;
    border-radius: 5px;
}

/* pseudo-classes */

input:invalid {
    border-color: red;
}

input:focus {
    background-color: #fff192;
}
